@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Below here should be a ConfigMap</p>
    <h1 class="display-4">@Model.Greeting</h1>
</div>
