@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello from newest version</h1>
    <p>This is being done to show the methodology working</p>
    <h1 class="display-4">DevOps 2026</h1>
</div>
